<h1>Sorry, you lose!</h1>
<img src="http://www.gifmania.ca/Animated-Gifs-People/Animated-Images-Men/Animations-Suicides/Peter-Griffin-Hanged-90752.gif" width="300">

<p>
   The word was
   <span class="lose"><%= @game.word %></span>
</p>

<%= erb :new %>


