<h1>You Win!</h1>

<img src="https://orig00.deviantart.net/0226/f/2018/146/1/5/vegeta_almost_atomizes_himself__jesus_fucking_chri_by_thatguyimortal-dcclig8.gif" width="300">

<p>
  The word was
  <span class="win"><%= @game.word %></span>.
</p>

<%= erb :new %>
